# Database
DATABASE_URL="postgresql://USERNAME:PASSWORD@localhost:5432/DATABASE_NAME"

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app

# Github
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

# tRPC
NEXT_PUBLIC_APP_URL="http://localhost:3000"